<style>
    .row{
        border: 2px black solid;
       }
</style>
 <div class="container-fluid">
    <div class="container">
        <form [formGroup]="myForm" >  
          <div class="row p-4" >
            <div class="col-3 p-4" >
              <dd>
                First Name 
              </dd>
              <dd>
                <input type="text" class="w-100" formControlName="FNAME">
              </dd>
              <dd>
               Email 
              </dd>
              <dd>
                <input type="email" class="w-100" formControlName="EMAIL">
              </dd>
              <dd>
                University 
               </dd>
               <dd>
                <select  class="w-100" formControlName="UNIVERSITY">
                    <option value="">-select-</option>
                    <option value="">JNTU</option>
                    <option value="">OU</option>
                </select>
               </dd>
            </div>
            <div class="col-3 p-4"  >
                <dd>
                    SurName 
                   </dd>
                   <dd>
                     <input type="text" class="w-100" formControlName="LNAME">
                   </dd>
                   <dd>
                    Country 
                   </dd>
                   <dd>
                    <select  class="w-100" formControlName="COUNTRY" (change)="gp_countryChanges($event)">
                        <option value="">-select-</option>
                        <option *ngFor="let data of Country"  [value]="data.ID">{{data.NAME}}</option>
                    </select>
                   </dd>
                   <dd>
                    College 
                   </dd>
                   <dd>
                    <select  class="w-100" formControlName="COLLEGE">
                        <option value="">-select-</option>
                        <option value="">Siddhartha Degree College</option>
                        <option value="">Wesley PG AND Degree College</option>
                    </select>
                   </dd>
            </div>
            <div class="col-3 p-4">
                <dd>
                    Age 
                   </dd>
                   <dd>
                     <input type="text" class="w-100" formControlName="AGE">
                   </dd>
                   <dd>
                    State 
                   </dd>
                   <dd>
                    <select  class="w-100" formControlName="STATE" >
                        <option value="">-select-</option>
                        <option *ngFor="let data of States"[value]="data.ID">{{data.NAME}}</option>
                    </select>
                   </dd>
                   <dd>
                    Program 
                   </dd>
                   <dd>
                    <select  class="w-100" formControlName="PROGRAM">
                        <option value="">-select-</option>
                        <option value="">BCA</option>
                        <option value="">BCOM</option>
                        <option value="">BSC</option>
                    </select>
                   </dd>
            </div>
            <div class="col-3 p-4" >
                <dd>
                    Mobile 
                   </dd>
                   <dd>
                     <input type="text" class="w-100" formControlName="MOBILE">
                   </dd>
                   <dd>
                    City 
                   </dd>
                   <dd>
                    <select  class="w-100" formControlName="CITY">
                        <option value="">-select-</option>
                        <option value="">Hyderabad</option>
                        <option value="">Warangal</option>
                    </select>
                   </dd>
                   <dd>
                    Year 
                   </dd>
                   <dd>
                    <select  class="w-100" formControlName="YEAR">
                        <option value="">-select-</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                   </dd>
            </div>
            <input type="submit" class="btn btn-primary" (click)="Show()" > 
          </div>
        </form>
    </div>
 </div>