<style>
    .data-content-form{
      background-color: lightblue;
      padding: 20px;
      box-shadow: 0px 1px 7px 1px gray;
  
    }
    .row{
      justify-content: center;
      margin-top: 20%;
    }
    </style>
    <div class="container-fulid">
      <div class="container container-content">
        <div class="row">
          <div class="col-3">
            <div class="data-content-form">
              <h5 style="text-align: center;">User Login</h5>
              <br>
              <dd>
                username
              </dd>
              <dd>
                <input type="text" class="w-100" #username>
              </dd>
              <dd>
                password
              </dd>
              <dd>
                <input [type]="txtboxvalue" class="w-100" #password>
              </dd>
              <dd>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"  (change)="checkedbox($event)">
                  <label class="form-check-label" for="flexCheckIndeterminate">
                    show the password
                  </label>
                </div>
              </dd>
              <dd *ngIf="erromsg">
                <span style="color: red;font-weight: bold; text-align: center; display: flex; justify-content: center;  padding: 2px; " >Invilide User</span>
              </dd>
              <dd>
                <br>
                <!-- <button class="btn btn-primary w-100" (click)="Login()">Login</button> -->
                <button class="btn btn-primary w-100">Login</button>
              </dd>
             </div>
          </div>
        </div>
      </div>
    </div>