<style>
    img{
        width: 200px;
        background-color: white;
        padding: 10px;
        border-radius: 30px;
    }
    .navbar{
        min-width: 100vw;
    }
    .container-content{
       
        color: white;
       
        float:right;
        margin-left: 1000px;
    }
    .container{
        display: flex;
        float: left;
       
    }
    .a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin-right: 50px;
     padding: 10px;
 
        
    }
</style>
 
 


 <div class="container-fluid bg-dark">
    <nav class="navbar bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand"><img src="https://www.gpinfotech.com/images/gp-web-logo.png" alt="Logo"  class="d-inline-block"></a>
          <div class="d-flex   ">
      
          </div>
        </div>
      </nav>
 </div>