<style>
 .container-fluid{
    background-color: black;
    width: 100%;
    box-shadow: -33px -6px 32px 8px black;
 }
 .content-nave{
     display: flex;
     top: 0px;
 
 }
 .col-3,.navtitle{
    background-color: yellow;
    border-top-right-radius: 500px;
    
 }
 img{
    width: 82%;
    /* background-color: white; */
    padding: 10px;
 }
</style>

<div class="container-fluid">
 <div class="row">
    <div class="col-3 navtitle">
         <img src="https://www.gpinfotech.com/images/gp-web-logo.png" alt="">
    </div>
 </div>
</div>
 