<style>
    .content-text{
        text-align: center;
        padding: 10px;
        background-color: blue;
        color: white;
        font-size: 50px;
    }
    .ownmargin{
        margin-left: 200px;
       
    }
</style>
<div class="container-fluid">
    <div class="container">
        <p>Data Comming From <b><mark style="color: red;">component-parrent</mark></b></p>
      <div class="content-text">
        {{childtitle}}
      </div>
      <div class="row">
        <div class="col   m-4 p-4  ownmargin">
        <p style="margin-left: 200px;">This component name : <mark style="color: red;"><b>component-1</b></mark></p>
        </div>
      </div>
    </div>
</div>