
<style>
    form{
     padding: 10px;
 
     
    }
    select{
        height: 30px;
    }
  
</style>
<div class="container-fluid">
    <div class="container">
       <form [formGroup]="myForm">
         <div class="row">
            <div class="col-2">
                <label>First Name</label>
                <input type="text" formControlName="FirstName">
                <label>Mobile</label>
                <input type="text">
            </div>
            <div class="col-2">
                <label>Last Name</label>
                <input type="text" formControlName="LastName">
                <label>Email</label>
                <input type="text">
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-4">
                        <label>Country</label>
                        <br>
                        <select class="w-100" formControlName="Country">
                            <option>-select-</option>
                            <option>India</option>
                            <option>Usa</option>
                        </select>
                    </div>
                   </div>
                <div class="row">
                    <div class="col-4">
                        <label>State</label>
                        <br>
                        <select class="w-100" formControlName="State">
                            <option>-select-</option>
                            <option>Telangana</option>
                            <option>Andhra Pradesh</option>
                        </select>
                    </div>
                   </div>
               <div class="row">
                <div class="col-4">
                    <label>Address</label>
                    <br>
                    <input type="text" class="w-100" formControlName="Address">
                </div>
               </div>
               <div class="row">
                <div class="col-4">
                    <label>Pin</label>
                    <br>
                    <input type="text" class="w-100" formControlName="Pin">
                </div>
               </div>
               <div class="row">
                <div class="col-4">                 
                    <br>
                  <button class="btn btn-danger w-100" (click)="submitform(myForm.value)">submit</button>
                </div>
               </div>
            </div>
         </div>
       
       </form>
       <div class="container">
        <br>
        <br>
        {{DATA |json}}
       </div>
    </div>
</div>