
<style>
    .txtcenter{
        text-align: center;
    }
</style>
<div class="container-fluid">
    <div class="container justify-content-center txtcenter" >
             <h1>USING INPUT DECORATOR</h1>
             <p><mark style="color: blue; font-weight: bold;">By Using This Input Decorator We Can Communicate Parrent To Child</mark></p>
       <div class="row">
      
        <div class="col-6 bg-body-secondary text-bg-light p-4 " > 
            <p>This component name is : <mark style="color: red;"><b>component-parrent</b></mark></p>
            <dd>
                username 
            </dd>
            <dd>
                <input type="text" #txtname>
            </dd>
            <dd>
                <button (click)="senddata()">submit</button>
            </dd>
        </div>
        <div class="col-6 bg-danger-subtle text-bg-light p-4 txtcenter">
            <gp-component-communication-1 [childtitle]="name" ></gp-component-communication-1>
        </div>
       </div>
    
    
    </div>
</div>

 