<div class="container-fluid">
  <div class="container">
   <div class="content">
     <h1>DATA BINDING EXAMPLES</h1>
     <div class="row">
        <span id="gp_title">
           <b> ONE WAY DATA BINDING </b>
          </span>
        <div class="col-6">
          <p id="gp_exmp">String Interpolation </p>
          <div class="..card">
           <div class="header">
             <img src="{{path_1}}" class="gp_img">
           </div>
           <div class="..body">

           </div>
           <div class="..footer">

           </div>
          </div>
        </div>
        <div class="col-6">
           <p id="gp_exmp">Attribute Binding </p>
           <div class="..card">
            <div class="header">
              <img [src]="path_1" class="gp_img">
            </div>
            <div class="..body">
              
            </div>
            <div class="..footer">

            </div>
           </div>
         </div>
     </div>
     <br>
     <div class="row">
        <div class="col-6">
          <p id="gp_exmp">Class Binding</p>
          <div [class]="IsActiveClass?'card':'gp_card2'">
           <div class="gp_header" >
             <img [src]=path_1 [class]={gp_img:IsActiveClass}>
           </div>
           <div class="gp_body" >
              <span >
                 cannon cammera
                 <br>
                 from $5000
              </span>
           </div>
           <div class="gp_footer">
           </div>
          </div>
        </div>
        <div class="col-6">
           <p id="gp_exmp">Style Binding</p>
           <div [class]="IsActiveClass?'card':'gp_card2'">
            <div class="gp_header" >
              <img [src]=path_1 [class]={gp_img:IsActiveClass}>
            </div>
            <div class="gp_body"  [style.width]="width">
              <div [style]="{'text-align': mystyles.textaline ,'margin':mystyles.margin}">
                 cannon cammera
                 <br>
                 <b>from $5000</b>
              </div>
            </div>
            <div class="gp_footer">
            </div>
           </div>
        </div>
    </div>
  </div>
 <div class="row">
     <div class="col-6">
        <p id="gp_exmp">Event Binding Example-1</p>
        <div>
            <div [ngClass]="IsActivateCard?'card':'card2'">
            <div class="gp_header" >
              <img [src]=path_1 [class]={gp_img:IsActiveClass}>
            </div>
            <div class="gp_body"  [style.width]="width">
              <div [style]="{'text-align': mystyles.textaline ,'margin':mystyles.margin}">
                 cannon cammera
                 <br>
                 <b>from $5000</b>
              </div>
            </div>
            <div class="gp_footer">
              <button class="btn btn-danger" (click)="blackANDwhite()">Black/White</button>
            </div>
        </div>
        </div>
     </div>
     <div class="col-6">
        <p id="gp_exmp">Event Binding Example-2</p>
        <br><br>
        <dd>
           Mobile
        </dd>
        <dd>
           <input type="text" (input)="change($event)">
        </dd>      
        <div>
          <h1>{{mobilenumber}}</h1>
        </div>
     </div>
</div>
<div class="row">
  <span id="gp_title">
     <b> TWO WAY DATA BINDING </b>
  </span>
  <div class="col">
     <p id="gp_exmp">Example-1</p>
    <div>
     <dd>
        username
     </dd>
     <dd>
        <input type="text"  [(ngModel)]="username" >
     </dd>
     <br>
     <div>
        <span>
           <h1>{{username}}</h1>
        </span>
     </div>
    </div>
  </div>
</div>
